<!-- EN astro, el fichero se divide en tres partes. contenido js (entre 3 guiones) el Layout y el css -->
---
import Layout from '../layouts/Layout.astro';
import Post from "../components/Post.astro";

const url = `${import.meta.env.PUBLIC_API_URL}/posts?populate=imagen`;
const respuesta = await fetch(url);
const {data} = await respuesta.json();

---

<Layout title="Blog" description="blog">
    <main class="contenedor">
        <h1 class:list= {"heading"}>Blog</h1>
        <div class:list={"grid"}>
            {data?.map(post =>(
                <Post
                        titulo={post.attributes.titulo}
                        conteniodo={post.attributes.conteniodo}
                        url={post.attributes.url}
                        publishedAt={post.attributes.publishedAt}
                        imagen={post.attributes.imagen.data.attributes.formats.medium.url}
                />
            ))}
        </div>
    </main>
</Layout>

<style>
</style>
